<!DOCTYPE html>
<html>

<head>
    

<script type="text/javascript">
    var BaseUrl = "https://www.boosterjuice.com/";
</script>

<script src="../js/vue.js"></script>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Find your perfect smoothie Delicious, nutritious and blended right before your eyes. Our legendary lineup of smoothies combine the freshest ingredients to nourish the body and satisfy cravings.">
<meta name="keywords" content="Smoothies - Menu - Booster Juice">
<meta name="robots" content="all">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Smoothies - Menu - Booster Juice</title>

<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.png">
<link rel="apple-touch-icon" href="../images/favicon.png">

<link rel="stylesheet" href="../css/colorbox.css" type="text/css" media="all">

<link rel="stylesheet" href="../css/font-awesome.css">

<link rel="stylesheet" href="../css/normalize.min.css">
<link rel="stylesheet" href="../css/animate.min.css">

<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="../css/jquery-ui.css">
<script src="../js/jquery-ui.js"></script>

<script src="../js/js.cookie.min.js"></script>

<script src="../js/modernizr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/head.min.js"></script>

<script src="../js/jquery.scrollbar.min.js"></script>
<link rel="stylesheet" href="../css/jquery.scrollbar.min.css">


<script src="../js/popper.min.js" crossorigin="anonymous"></script>
<script src="../js/bootstrap.min.js" crossorigin="anonymous"></script>

<script src="../js/instafeed.min.js"></script>

<link rel="stylesheet" href="../css/main.css">

<script src="../js/jquery.colorbox-min.js" type="text/javascript" charset="utf-8"></script>


<script src="../js/global.js" type="text/javascript" charset="utf-8"></script>


<script src="../js/commonFrontEnd.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
(function (d, t) {
  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
  bh.type = 'text/javascript';
  bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=wdxltaadnnq8hznz7mdamg';
  s.parentNode.insertBefore(bh, s);
  })(document, 'script');
</script>
</head>

<body>
	



<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MV9RSJJ');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-53SJJ4R');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="ns.html" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->



	<!-- Header -->
	<nav class="navbar navbar-default navbar-expand-lg nav-down" role="navigation">
     <!-- data-toggle="collapse" data-target="#navbarSupportedContent"  -->
	<button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   		<i class="fa fa-bars" aria-hidden="true"></i>
           <i class="fa fa-times" aria-hidden="true"></i>
  	</button>
    <a href="../index.html" class="navbar-brand">
        <img src="images/logo-yellow.png" alt="Logo" class="brand-logo-d">
        <!--<img src="/media/images/logos/logo.png" alt="Logo" class="brand-logo-m">-->
    </a>
    <ul class="secondary__nav">
<li><a href="https://www.boosterjuice.com/find-a-location/"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>Locations</span></a></li>
<!--<li><a href="https://www.boosterjuice.com/subscribe/"><i class="fa fa-envelope-o" aria-hidden="true"></i> Subscribe</a></li>--></ul>
<!-- id="navbarSupportedContent" -->
    <div class="header__nav">
		
                    
        <ul id="ctl01_ItemsList_ul" class="level0 navbar-nav mr-auto">
            
        <li id="ctl01_ItemsList_li_0" class="index-0 MediaID-11176 nav-item has-children">
            <a id="ctl01_ItemsList_Link_0" class="nav-link" href="./menupage.html">Menu</a>
            
                    <ul id="ctl01_ItemsList_ChildList_0_ul_0" class="level1 dropdown-menu">
                        
                        
        <li id="ctl01_ItemsList_ChildList_0_li_0" class="index-0 MediaID-11181 nav-item">
            <a id="ctl01_ItemsList_ChildList_0_Link_0" class="nav-link" href="./menupage.html">Smoothies</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_0_li_1" class="index-1 MediaID-11182 nav-item">
            <a id="ctl01_ItemsList_ChildList_0_Link_1" class="nav-link" href="https://www.boosterjuice.com/menu/juices/">Juices</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_0_li_2" class="index-2 MediaID-11184 nav-item">
            <a id="ctl01_ItemsList_ChildList_0_Link_2" class="nav-link" href="https://www.boosterjuice.com/menu/eats/">Eats</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_0_li_3" class="index-3 MediaID-11183 nav-item">
            <a id="ctl01_ItemsList_ChildList_0_Link_3" class="nav-link" href="https://www.boosterjuice.com/menu/specialty-shots/">Specialty Shots</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_0_li_4" class="index-4 MediaID-12747 nav-item">
            <a id="ctl01_ItemsList_ChildList_0_Link_4" class="nav-link" href="https://www.boosterjuice.com/menu/allergen/">Allergen</a>
            
		</li>
		
		<li id="ctl01_ItemsList_li_4" class="index-4 MediaID-11180 nav-item">
            <a id="ctl01_ItemsList_Link_4" class="nav-link" href="https://www.boosterjuice.com/franchise-opportunities/">Order Now</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl01_ItemsList_li_1" class="index-1 MediaID-12438 nav-item has-children">
            <a id="ctl01_ItemsList_Link_1" class="nav-link" href="https://www.boosterjuice.com/our-story/about-booster-juice/">Our Story</a>
            
                    <ul id="ctl01_ItemsList_ChildList_1_ul_1" class="level1 dropdown-menu">
                        
                        
        <li id="ctl01_ItemsList_ChildList_1_li_0" class="index-0 MediaID-11177 nav-item">
            <a id="ctl01_ItemsList_ChildList_1_Link_0" class="nav-link" href="https://www.boosterjuice.com/our-story/about-booster-juice/">About Booster Juice</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_1_li_1" class="index-1 MediaID-12439 nav-item">
            <a id="ctl01_ItemsList_ChildList_1_Link_1" class="nav-link" href="https://www.boosterjuice.com/our-story/community-partnerships/">Community Partnerships</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl01_ItemsList_li_2" class="index-2 MediaID-11178 nav-item has-children">
            <a id="ctl01_ItemsList_Link_2" class="nav-link" href="https://www.boosterjuice.com/programs/school-catering-program/">Programs</a>
            
                    <ul id="ctl01_ItemsList_ChildList_2_ul_2" class="level1 dropdown-menu">
                        
                        
        <li id="ctl01_ItemsList_ChildList_2_li_0" class="index-0 MediaID-11230 nav-item">
            <a id="ctl01_ItemsList_ChildList_2_Link_0" class="nav-link" href="https://www.boosterjuice.com/programs/school-catering-program/">School Catering Program</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_2_li_1" class="index-1 MediaID-11231 nav-item">
            <a id="ctl01_ItemsList_ChildList_2_Link_1" class="nav-link" href="https://www.boosterjuice.com/programs/fundraising/">Fundraising</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl01_ItemsList_li_3" class="index-3 MediaID-11179 nav-item">
            <a id="ctl01_ItemsList_Link_3" class="nav-link" href="https://www.boosterjuice.com/gift-cards/">Gift Cards</a>
            
        </li>
    
        <li id="ctl01_ItemsList_li_4" class="index-4 MediaID-11180 nav-item">
            <a id="ctl01_ItemsList_Link_4" class="nav-link" href="https://www.boosterjuice.com/franchise-opportunities/">Franchise Opportunities</a>
            
		</li>
		
		<li id="ctl01_ItemsList_li_1" class="index-1 MediaID-12438 nav-item has-children">
			<a id="ctl01_ItemsList_Link_1" class="nav-link" href=".">Order Now</a>

			<ul id="ctl01_ItemsList_ChildList_1_ul_1" class="level1 dropdown-menu">


				<li id="ctl01_ItemsList_ChildList_1_li_0" class="index-0 MediaID-11177 nav-item">
					<a id="ctl01_ItemsList_ChildList_1_Link_0" class="nav-link" href="../order-page/orderpage.html">
						Pick a Location</a>

				</li>

				<li id="ctl01_ItemsList_ChildList_1_li_1" class="index-1 MediaID-12439 nav-item">
					<a id="ctl01_ItemsList_ChildList_1_Link_1" class="nav-link" href="https://www.boosterjuice.com/our-story/community-partnerships/">									Checkout</a>

				</li>

			</ul>

		</li>
    
        </ul>
    


<script>

$(document).ready(function(){
    //console.log($(".navbar-nav .has-children > a"))
    $(".navbar-nav .has-children > a").attr("data-toggle", "dropdown");
});

//     $(document).ready(function(){
        
//         if($(window).width() <= 768)
//         {
//             $("#MainNav .has-children").each(function(){
//                 var parentAnchor = $(this).find(">a");
//                 var cloneParentAnchor = parentAnchor.clone();
                
//                 parentAnchor.attr("href","#");
                
//                 var firstChildLi = $(this).find("ul li").first().clone();
                
//                 firstChildLi.find("a").attr("href", cloneParentAnchor.attr("href"));
//                 firstChildLi.find("a").text(cloneParentAnchor.text());
                
//                 $(this).find("ul").prepend(firstChildLi);
//             });
//         }
//     });
</script>
        <!-- <div class="navbar-left-extra-links">
            <div class="nav-lang">
                
                <a class="" href="#">EN</a> / <a class="" href="#">FR</a>
            </div>
        </div> -->
    </div>
</nav>
<script>
$(document).ready(function(){
$(".navbar-toggler").on("click", function(){
$(".header__nav").toggleClass("nav__open");
$('body').toggleClass('scroll--lock');
$(this).toggleClass('navdrawer__open');
});
//lang toggle Animation
if ($(".en-CA").hasClass('current')) {
    $(".fr-CA").on("click",function(){
        $(this).css({"color": "#ab004f"});
        $(".en-CA").css({"color": "#ffffff"});
        $(".toggle__container span").css({"left": "33px"});

    });
    $(".toggle__container span").css({"left": 0});
    $(".fr-CA").hover(function(){
        $(this).css({"color": "#ab004f"});
        $(".en-CA").css({"color": "#ffffff"});
        $(".toggle__container span").css({"left": "33px"});

    }, function(){
        $(this).css({"color": "#ffffff"});
        $(".en-CA").css({"color": "#ab004f"});
        $(".toggle__container span").css({"left": "0"});

    });
    
}
if ($(".fr-CA").hasClass('current')) {
     $(".en-CA").on("click",function(){
        $(this).css({"color": "#ab004f"});
        $(".fr-CA").css({"color": "#ffffff"});
        $(".toggle__container span").css({"left": "0"});

    });
    $(".toggle__container span").css({"left": "33px"});
    $(".en-CA").hover(function(){
        $(this).css({"color": "#ab004f"});
        $(".fr-CA").css({"color": "#ffffff"});
        $(".toggle__container span").css({"left": "0"});

    }, function(){
        $(this).css({"color": "#ffffff"});
        $(".fr-CA").css({"color": "#ab004f"});
        $(".toggle__container span").css({"left": "33px"});

    });
   
}

var didScroll;
var lastScrollTop = 0;
var delta = 5;
var navbarHeight = $('.navbar').outerHeight();

$(window).scroll(function(event){
    didScroll = true; 
    
});

setInterval(function() {
   if (didScroll) {
        hasScrolled();
        didScroll = false;
    }
}, 250);

function hasScrolled() {
    console.log('ran');
    var st = $(this).scrollTop();
    
    // Make sure they scroll more than delta
    if(Math.abs(lastScrollTop - st) <= delta)
        return;
    
    // If they scrolled down and are past the navbar, add class .nav-up.
    // This is necessary so you never see what is "behind" the navbar.
    if (st > lastScrollTop && st > navbarHeight){
        // Scroll Down
        $('.navbar').removeClass('nav-down').addClass('nav-up');
    } else {
        // Scroll Up
        if(st + $(window).height() < $(document).height()) {
            $('.navbar').removeClass('nav-up').addClass('nav-down');
        }
    }
    
    lastScrollTop = st;
}

});


</script>
<main class="cd-main-content">
    <!-- Render BreadCrumb -->
    <nav aria-label="breadcrumb">
                
        <ul id="ctl03_ItemsList_ul" class="level0 breadcrumb">
            
        <li id="ctl03_ItemsList_li_0" class="index-0 currentParent MediaID-2 breadcrumb-item">
            <a id="ctl03_ItemsList_Link_0" href="https://www.boosterjuice.com/">Booster Juice</a>
            
        </li>
    
        <li id="ctl03_ItemsList_li_1" class="index-1 MediaID-11176 breadcrumb-item">
            <a id="ctl03_ItemsList_Link_1" href=".">Menu</a>
            
        </li>
    
        <li id="ctl03_ItemsList_li_2" class="index-2 MediaID-11181 breadcrumb-item">
            <a id="ctl03_ItemsList_Link_2" href=".">Smoothies</a>
            
        </li>
    
        </ul>
        
        </nav>
    
    <!-- PageContent -->
    <div id="PageContent" data-mediadetailid="31885" data-mediaid="11181">

<div id="app" class="products__page" style="background-image: url('images/pineapple-coconut-background.jpg')">

	<div class="products__header">
		<div class="container">
			<div class="products__header__content">
				<div class="field" data-fieldid="38472" data-mediaid="" data-fieldcode="ShortDescription" data-arguments="{}"><h1>Find your perfect smoothie</h1>
<p>Delicious, nutritious and blended right before your eyes. Our legendary lineup of smoothies combine the freshest ingredients to nourish the body and satisfy cravings.</p></div>
			</div>
			<div class="products__header__search">
				<input type="text" v-model="searchText" v-on:keyup.enter="search" placeholder="ex: 'strawberries'"><button v-on:click="search" class="button button--purpledark">
					Search
				</button>
			</div>
		</div>


	</div>
	<div class="container">
		<div class="products__grid">
			<div v-if="hasSearched && products.length == 0">No Products Found</div>
			<a class="product" :href="product.Link" v-for="product in products">
				<div class="img-container">
					<img :src="product.ImageUrl" :alt="product.Name">
				</div>
				<div class="product__content">
					<h5>{{product.Name}}</h5>
					<p class="sm-desc">{{product.Description}}</p>
				</div>
			</a>
			<div class="product">
				<div class="img-container">
					<a href="products/bananas-a-whey/index.html"><img src="images/smoothies/smoothie-BananasAWhey.png" alt="" /></a>
				</div>
				<h5>Bananas-A-Whey</h5>
				<p class="sm-desc">Bananas, mangoes, passion fruit, guava, whey protein.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="images/smoothies/smoothie-BanangoBurst.png" alt="" />
				</div>
				<h5>Banango Burst</h5>
				<p class="sm-desc">Bananas, pineapple, skim milk, vanilla frozen yogurt, whey protein.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="images/smoothies/smoothie-BerryCreamSensation.png" alt="" />
				</div>
				<h5>Berry Cream Sensation</h5>
				<p class="sm-desc">Blueberries, strawberries, guava, passion fruit, vanilla frozen yogurt.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="images/smoothies/smoothie-BrazilianThunder.png" alt="" />
				</div>
				<h5>Brazilian Thunder</h5>
				<p class="sm-desc">Acai, raspberries, bananas, strawberries, yogurt.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="images/smoothies/smoothie-BreezyBanana.png" alt="" />
				</div>
				<h5>Breezy Banana</h5>
				<p class="sm-desc">Bananas, mangos, passion fruit, guava, peach.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="images/smoothies/smoothie-CanadianColada.png" alt="" />
				</div>
				<h5>Canadian Colada</h5>
				<p class="sm-desc">Pineapples, bananas, vanilla frozen yogurt, coconut.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="images/smoothies/smoothie-CocoCrush.png" alt="" />
				</div>
				<h5>Coco Crush</h5>
				<p class="sm-desc">Coconut water, pineapples, bananas, coconut.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="images/smoothies/smoothie-FunkyMonkey.png" alt="" />
				</div>
				<h5>Funky Monkey</h5>
				<p class="sm-desc">Bananas, chocolate almond milk, vanilla frozen yogurt.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="images/smoothies/smoothie-HighImpactAcai.png" alt="" />
				</div>
				<h5>High-Impact Acai</h5>
				<p class="sm-desc">Acai, raspberries, cranberry, skim milk, vanilla frozen yogurt, whey protein.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="images/smoothies/smoothie-MangoHurricane.png" alt="" />
				</div>
				<h5>Mango Hurricane</h5>
				<p class="sm-desc">Mangoes, strawberries, guava, passion fruit, peach, yogurt.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="images/smoothies/smoothie-Marathon.png" alt="" />
				</div>
				<h5>Marathon</h5>
				<p class="sm-desc">Strawberries, bananas, cranberry, orange, yogurt, soy protein powder.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="images/smoothies/smoothie-MatchaMonsoon.png" alt="" />
				</div>
				<h5>Matcha Monsoon</h5>
				<p class="sm-desc">Pure matcha green tea, vanilla almond milk, vanilla frozen yogurt.</p>
			</div>
			<!--
			<div class="product">
				<div class="img-container">
					<img src="\media\uploads\images\placeholders\food-placeholder.png" alt="" />
				</div>
				<h5>Bananas-A-Whey</h5>
				<p class="sm-desc">Mangoes, strawberry, guava, passion fruit, peach, yogurt.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="\media\uploads\images\placeholders\food-placeholder.png" alt="" />
				</div>
				<h5>Banango Burst</h5>
				<p class="sm-desc">Bananas, mangoes, passion fruit, guava, whey protein.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="\media\uploads\images\placeholders\food-placeholder.png" alt="" />
				</div>
				<h5>Spinach Is In It</h5>
				<p class="sm-desc">Spinach, parsley, mangoes, acai.</p>
			</div>
			<div class="product">
				<div class="img-container">
					<img src="\media\uploads\images\placeholders\food-placeholder.png" alt="" />
				</div>
				<h5>Heavenly Horizon</h5>
				<p class="sm-desc">Apples, lemons, ginger, pineapples.</p>
			</div> 
		-->
		</div>
		<div class="calorie__disclaimer">
			<div class="field" data-fieldid="61893" data-mediaid="" data-fieldcode="CalorieDisclaimer" data-arguments="{}"><p>* Some calorie values on the website may differ when compared to our in-store menus due to unique labeling requirements in each province. If you have any questions about the calories in your favourite smoothie, please email <a href="mailto:nutrition@boosterjuice.com" class="link--pink">nutrition@boosterjuice.com</a>.</p></div>
		</div>
	</div>
</div>

<script>
	var app = new Vue({
		el: "#app",
		data: {
			allergens: [],
			searchText: "",
			products: [],
			hasSearched: false
		},
		methods: {
			search: function() {

				$('.products__grid').block({
					message: '<div class="spinner"></div>',
					css: {
						border: 'none',
						background: 'none'
					}
				});

				$.post("/WebServices/Esha.asmx/Search", { searchText: this.searchText, parentMediaId: 11181, allergensCsv: this.allergens.join(","), languageId: 5
			}, function(data) {
				app.products = data.Item;
				app.hasSearched = true;

				$('.products__grid').unblock();
			});
			}
		}
	});

	app.search();
</script>
</div>

    <!-- Footer -->
    <footer>
	<div class="footer__nav">
		<!--<ul class="footer__nav__content">
		<li>
			<a href="#" class="nav__heading">Menu</a>
			<ul class="footer__subnav">
				<li><a href="#">Smoothies</a></li>
				<li><a href="#">Juices</a></li>
				<li><a href="#">Speciality Shots</a></li>
				<li><a href="#">Eats</a></li>
			</ul>
		</li>
		<li>
			<a href="#" class="nav__heading">Our Story</a>
		</li>
		<li>
			<a href="#" class="nav__heading">Programs</a>
			<ul class="footer__subnav">
				<li><a href="#">School Lunch Program</a></li>
				<li><a href="#">Fundraising</a></li>
			</ul>
		</li>
		<li>
			<a href="#" class="nav__heading">Gift Cards</a>
		</li>
		<li>
			<a href="#" class="nav__heading">Franchise Opportunities</a>
		</li>
	</ul>-->
		            
        <ul id="ctl04_ItemsList_ul" class="level0 footer__nav__content">
            
        <li id="ctl04_ItemsList_li_0" class="index-0 MediaID-11176 has-children">
            <a id="ctl04_ItemsList_Link_0" class="nav__heading" href="https://www.boosterjuice.com/menu/smoothies/">Menu</a>
            
                    <ul id="ctl04_ItemsList_ChildList_0_ul_0" class="level1 footer__subnav">
                        
                        
        <li id="ctl04_ItemsList_ChildList_0_li_0" class="index-0 MediaID-11181">
            <a id="ctl04_ItemsList_ChildList_0_Link_0" href="https://www.boosterjuice.com/menu/smoothies/">Smoothies</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_0_li_1" class="index-1 MediaID-11182">
            <a id="ctl04_ItemsList_ChildList_0_Link_1" href="https://www.boosterjuice.com/menu/juices/">Juices</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_0_li_2" class="index-2 MediaID-11184">
            <a id="ctl04_ItemsList_ChildList_0_Link_2" href="https://www.boosterjuice.com/menu/eats/">Eats</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_0_li_3" class="index-3 MediaID-11183">
            <a id="ctl04_ItemsList_ChildList_0_Link_3" href="https://www.boosterjuice.com/menu/specialty-shots/">Specialty Shots</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_0_li_4" class="index-4 MediaID-12747">
            <a id="ctl04_ItemsList_ChildList_0_Link_4" href="https://www.boosterjuice.com/menu/allergen/">Allergen</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl04_ItemsList_li_1" class="index-1 MediaID-12438 has-children">
            <a id="ctl04_ItemsList_Link_1" class="nav__heading" href="https://www.boosterjuice.com/our-story/about-booster-juice/">Our Story</a>
            
                    <ul id="ctl04_ItemsList_ChildList_1_ul_1" class="level1 footer__subnav">
                        
                        
        <li id="ctl04_ItemsList_ChildList_1_li_0" class="index-0 MediaID-11177">
            <a id="ctl04_ItemsList_ChildList_1_Link_0" href="https://www.boosterjuice.com/our-story/about-booster-juice/">About Booster Juice</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_1_li_1" class="index-1 MediaID-12439">
            <a id="ctl04_ItemsList_ChildList_1_Link_1" href="https://www.boosterjuice.com/our-story/community-partnerships/">Community Partnerships</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl04_ItemsList_li_2" class="index-2 MediaID-11178 has-children">
            <a id="ctl04_ItemsList_Link_2" class="nav__heading" href="https://www.boosterjuice.com/programs/school-catering-program/">Programs</a>
            
                    <ul id="ctl04_ItemsList_ChildList_2_ul_2" class="level1 footer__subnav">
                        
                        
        <li id="ctl04_ItemsList_ChildList_2_li_0" class="index-0 MediaID-11230">
            <a id="ctl04_ItemsList_ChildList_2_Link_0" href="https://www.boosterjuice.com/programs/school-catering-program/">School Catering Program</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_2_li_1" class="index-1 MediaID-11231">
            <a id="ctl04_ItemsList_ChildList_2_Link_1" href="https://www.boosterjuice.com/programs/fundraising/">Fundraising</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl04_ItemsList_li_3" class="index-3 MediaID-11179">
            <a id="ctl04_ItemsList_Link_3" class="nav__heading" href="https://www.boosterjuice.com/gift-cards/">Gift Cards</a>
            
        </li>
    
        <li id="ctl04_ItemsList_li_4" class="index-4 MediaID-11180">
            <a id="ctl04_ItemsList_Link_4" class="nav__heading" href="https://www.boosterjuice.com/franchise-opportunities/">Franchise Opportunities</a>
            
        </li>
    
        </ul>
    


<script>

$(document).ready(function(){
    //console.log($(".navbar-nav .has-children > a"))
    $(".navbar-nav .has-children > a").attr("data-toggle", "dropdown");
});

//     $(document).ready(function(){
        
//         if($(window).width() <= 768)
//         {
//             $("#MainNav .has-children").each(function(){
//                 var parentAnchor = $(this).find(">a");
//                 var cloneParentAnchor = parentAnchor.clone();
                
//                 parentAnchor.attr("href","#");
                
//                 var firstChildLi = $(this).find("ul li").first().clone();
                
//                 firstChildLi.find("a").attr("href", cloneParentAnchor.attr("href"));
//                 firstChildLi.find("a").text(cloneParentAnchor.text());
                
//                 $(this).find("ul").prepend(firstChildLi);
//             });
//         }
//     });
</script>

        <div class="footer__copyright">
			<ul>
<li><a href="https://www.boosterjuice.com/corporate-contact/">Corporate Contact</a></li>
<li><a href="https://www.boosterjuice.com/faq/">FAQ's</a></li>
<li><a href="https://www.boosterjuice.com/privacy-policy/">Privacy Policy</a></li>
<li><a href="https://www.boosterjuice.com/non-participating-stores/">Non-Participating Stores</a></li>
</ul>
<p class="micro">&copy; 2018 Booster Juice Inc. All Rights Reserved.</p>            
        </div>
    </div>
    <div class="footer__connect">
		<div class="connect__socials">
			<div class="field" data-fieldid="38990" data-mediaid="" data-fieldcode="ConnectWithUs" data-arguments="{}"><h2>Connect with us</h2></div>
			<ul>
				<li><a href="https://www.instagram.com/boosterjuice/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/boosterjuice" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://www.facebook.com/boosterjuice/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<div class="connect__newsletter">
			<div class="field" data-fieldid="38991" data-mediaid="" data-fieldcode="Subscribe" data-arguments="{}"><h4>Subscribe to Booster Nation</h4>
<p>Sign-up for our newsletter to stay in the know about new products, promotions, and more!</p>
<p><a href="/subscribe/" class="button button--pink">Subscribe</a></p></div>
		</div>
    </div>
</footer>
    </main>
	
</body>

</html> <!-- Loaded from level 2 - File Cache -->