/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * canada-type-gibson:
 *   - http://typekit.com/eulas/00000000000000003b9b0ba9
 *   - http://typekit.com/eulas/00000000000000003b9b0ba4
 *   - http://typekit.com/eulas/00000000000000003b9b0ba5
 *   - http://typekit.com/eulas/00000000000000003b9b0ba8
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-10-18 22:15:43 UTC"}*/

@import url("p.css");

@font-face {
font-family:"canada-type-gibson";
src:url("../l_3") format("woff2"),url("../d") format("woff"),url("../a") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"canada-type-gibson";
src:url("../l") format("woff2"),url("../d_3") format("woff"),url("../a_1") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family:"canada-type-gibson";
src:url("../l_1") format("woff2"),url("../d_1") format("woff"),url("../a_2") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"canada-type-gibson";
src:url("../l_2") format("woff2"),url("../d_2") format("woff"),url("../a_3") format("opentype");
font-style:normal;font-weight:600;
}

.tk-canada-type-gibson { font-family: "canada-type-gibson",sans-serif; }
