.checkout-box {
    position: relative;
    top: 150px;
    right: 0%;

    background-color: white;
    padding: 1%;
    padding-bottom: 2%;
    margin-right: auto;

}

.meep {
    padding-bottom: 1000px;
    padding-left: 20px;
    background-color: rgb(250, 250, 250);
}

.form-item {
    padding-top: 20px;
}
