.checkout-box {
    position: relative;
    top: 150px;
    right: 0%;

    background-color: white;
    padding: 1%;
    padding-bottom: 2%;
    margin-right: auto;

}

.checkout-box h2 {
    text-align: center;
}

.checkout-box .checkout-title {
    text-align: center;
}

input[type=text] {
    width: 100%;
}

.checkout-box .form-item {
    text-align: center;
    
}

.meep {
    padding-bottom: 200px;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
}

.form-item {
    padding-top: 20px;
}

