<!DOCTYPE html>
<html>

<head>
    

<script type="text/javascript">
    var BaseUrl = "https://www.boosterjuice.com/";
</script>

<script src="../../../js/vue.js"></script>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Your taste buds will be blown a-whey with this protein packed smoothie. Made with bananas, pineapple, skim milk, vanilla frozen yogurt and whey protein. Perfect for the whey protein lover in you!">
<meta name="keywords" content="Banango Burst - Smoothies - Menu - Booster Juice">
<meta name="robots" content="all">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Bananas A Whey - Smoothies - Menu - Booster Juice</title>

<link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.png">
<link rel="apple-touch-icon" href="../../../images/favicon.png">

<link rel="stylesheet" href="css/main2.css">

<link rel="stylesheet" href="../../../css/colorbox.css" type="text/css" media="all">

<link rel="stylesheet" href="../../../css/font-awesome.css">

<link rel="stylesheet" href="../../../css/normalize.min.css">
<link rel="stylesheet" href="../../../css/animate.min.css">

<script src="../../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="../../../css/jquery-ui.css">
<script src="../../../js/jquery-ui.js"></script>

<script src="../../../js/js.cookie.min.js"></script>

<script src="../../../js/modernizr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/head.min.js"></script>

<script src="../../../js/jquery.scrollbar.min.js"></script>
<link rel="stylesheet" href="../../../css/jquery.scrollbar.min.css">


<script src="../../../js/popper.min.js" crossorigin="anonymous"></script>
<script src="../../../js/bootstrap.min.js" crossorigin="anonymous"></script>

<script src="../../../js/instafeed.min.js"></script>

<link rel="stylesheet" href="../../../css/main.css">

<script src="../../../js/jquery.colorbox-min.js" type="text/javascript" charset="utf-8"></script>


<script src="../../../js/global.js" type="text/javascript" charset="utf-8"></script>

<script src="../../../js/commonFrontEnd.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
(function (d, t) {
  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
  bh.type = 'text/javascript';
  bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=wdxltaadnnq8hznz7mdamg';
  s.parentNode.insertBefore(bh, s);
  })(document, 'script');
</script>
</head>

<body>


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MV9RSJJ');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-53SJJ4R');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="ns.html" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->



	<!-- Header -->
	<nav class="navbar navbar-default navbar-expand-lg nav-down" role="navigation">
     <!-- data-toggle="collapse" data-target="#navbarSupportedContent"  -->
	<button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   		<i class="fa fa-bars" aria-hidden="true"></i>
           <i class="fa fa-times" aria-hidden="true"></i>
  	</button>
    <a href="../../../index.html" class="navbar-brand">
        <img src="images/logo-yellow.png" alt="Logo" class="brand-logo-d">
        <!--<img src="/media/images/logos/logo.png" alt="Logo" class="brand-logo-m">-->
    </a>
    <ul class="secondary__nav">
<li><a href="https://www.boosterjuice.com/find-a-location/"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>Locations</span></a></li>
<!--<li><a href="https://www.boosterjuice.com/subscribe/"><i class="fa fa-envelope-o" aria-hidden="true"></i> Subscribe</a></li>--></ul>
<!-- id="navbarSupportedContent" -->
    <div class="header__nav">
		
                    
        <ul id="ctl01_ItemsList_ul" class="level0 navbar-nav mr-auto">
            
        <li id="ctl01_ItemsList_li_0" class="index-0 currentParent MediaID-11176 nav-item has-children">
            <a id="ctl01_ItemsList_Link_0" class="nav-link" href="../../menupage.html">Menu</a>
            
                    <ul id="ctl01_ItemsList_ChildList_0_ul_0" class="level1 dropdown-menu">
                        
                        
        <li id="ctl01_ItemsList_ChildList_0_li_0" class="index-0 currentParent MediaID-11181 nav-item">
            <a id="ctl01_ItemsList_ChildList_0_Link_0" class="nav-link" href="../../menupage.html">Smoothies</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_0_li_1" class="index-1 MediaID-11182 nav-item">
            <a id="ctl01_ItemsList_ChildList_0_Link_1" class="nav-link" href="https://www.boosterjuice.com/menu/juices/">Juices</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_0_li_2" class="index-2 MediaID-11184 nav-item">
            <a id="ctl01_ItemsList_ChildList_0_Link_2" class="nav-link" href="https://www.boosterjuice.com/menu/eats/">Eats</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_0_li_3" class="index-3 MediaID-11183 nav-item">
            <a id="ctl01_ItemsList_ChildList_0_Link_3" class="nav-link" href="https://www.boosterjuice.com/menu/specialty-shots/">Specialty Shots</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_0_li_4" class="index-4 MediaID-12747 nav-item">
            <a id="ctl01_ItemsList_ChildList_0_Link_4" class="nav-link" href="https://www.boosterjuice.com/menu/allergen/">Allergen</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl01_ItemsList_li_1" class="index-1 MediaID-12438 nav-item has-children">
            <a id="ctl01_ItemsList_Link_1" class="nav-link" href="https://www.boosterjuice.com/our-story/about-booster-juice/">Our Story</a>
            
                    <ul id="ctl01_ItemsList_ChildList_1_ul_1" class="level1 dropdown-menu">
                        
                        
        <li id="ctl01_ItemsList_ChildList_1_li_0" class="index-0 MediaID-11177 nav-item">
            <a id="ctl01_ItemsList_ChildList_1_Link_0" class="nav-link" href="https://www.boosterjuice.com/our-story/about-booster-juice/">About Booster Juice</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_1_li_1" class="index-1 MediaID-12439 nav-item">
            <a id="ctl01_ItemsList_ChildList_1_Link_1" class="nav-link" href="https://www.boosterjuice.com/our-story/community-partnerships/">Community Partnerships</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl01_ItemsList_li_2" class="index-2 MediaID-11178 nav-item has-children">
            <a id="ctl01_ItemsList_Link_2" class="nav-link" href="https://www.boosterjuice.com/programs/school-catering-program/">Programs</a>
            
                    <ul id="ctl01_ItemsList_ChildList_2_ul_2" class="level1 dropdown-menu">
                        
                        
        <li id="ctl01_ItemsList_ChildList_2_li_0" class="index-0 MediaID-11230 nav-item">
            <a id="ctl01_ItemsList_ChildList_2_Link_0" class="nav-link" href="https://www.boosterjuice.com/programs/school-catering-program/">School Catering Program</a>
            
        </li>
    
        <li id="ctl01_ItemsList_ChildList_2_li_1" class="index-1 MediaID-11231 nav-item">
            <a id="ctl01_ItemsList_ChildList_2_Link_1" class="nav-link" href="https://www.boosterjuice.com/programs/fundraising/">Fundraising</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl01_ItemsList_li_3" class="index-3 MediaID-11179 nav-item">
            <a id="ctl01_ItemsList_Link_3" class="nav-link" href="https://www.boosterjuice.com/gift-cards/">Gift Cards</a>
            
        </li>
    
        <li id="ctl01_ItemsList_li_4" class="index-4 MediaID-11180 nav-item">
            <a id="ctl01_ItemsList_Link_4" class="nav-link" href="https://www.boosterjuice.com/franchise-opportunities/">Franchise Opportunities</a>
            
		</li>
	
		<li id="ctl01_ItemsList_li_1" class="index-1 MediaID-12438 nav-item has-children">
			<a id="ctl01_ItemsList_Link_1" class="nav-link" href="../../../order-page/orderpage.html">Order Now</a>

			<ul id="ctl01_ItemsList_ChildList_1_ul_1" class="level1 dropdown-menu">


				<li id="ctl01_ItemsList_ChildList_1_li_0" class="index-0 MediaID-11177 nav-item">
					<a id="ctl01_ItemsList_ChildList_1_Link_0" class="nav-link" href="../../../order-page/orderpage.html">
						Pick a Location</a>

				</li>

				<li id="ctl01_ItemsList_ChildList_1_li_1" class="index-1 MediaID-12439 nav-item">
					<a id="ctl01_ItemsList_ChildList_1_Link_1" class="nav-link" href="../../../checkout-page/checkoutpage.html">									Checkout</a>

				</li>

			</ul>

		</li>
    
        </ul>
    


<script>

$(document).ready(function(){
    //console.log($(".navbar-nav .has-children > a"))
    $(".navbar-nav .has-children > a").attr("data-toggle", "dropdown");
});

//     $(document).ready(function(){
        
//         if($(window).width() <= 768)
//         {
//             $("#MainNav .has-children").each(function(){
//                 var parentAnchor = $(this).find(">a");
//                 var cloneParentAnchor = parentAnchor.clone();
                
//                 parentAnchor.attr("href","#");
                
//                 var firstChildLi = $(this).find("ul li").first().clone();
                
//                 firstChildLi.find("a").attr("href", cloneParentAnchor.attr("href"));
//                 firstChildLi.find("a").text(cloneParentAnchor.text());
                
//                 $(this).find("ul").prepend(firstChildLi);
//             });
//         }
//     });
</script>
        <!-- <div class="navbar-left-extra-links">
            <div class="nav-lang">
                
                <a class="" href="#">EN</a> / <a class="" href="#">FR</a>
            </div>
        </div> -->
    </div>
</nav>
<script>
$(document).ready(function(){
$(".navbar-toggler").on("click", function(){
$(".header__nav").toggleClass("nav__open");
$('body').toggleClass('scroll--lock');
$(this).toggleClass('navdrawer__open');
});
//lang toggle Animation
if ($(".en-CA").hasClass('current')) {
    $(".fr-CA").on("click",function(){
        $(this).css({"color": "#ab004f"});
        $(".en-CA").css({"color": "#ffffff"});
        $(".toggle__container span").css({"left": "33px"});

    });
    $(".toggle__container span").css({"left": 0});
    $(".fr-CA").hover(function(){
        $(this).css({"color": "#ab004f"});
        $(".en-CA").css({"color": "#ffffff"});
        $(".toggle__container span").css({"left": "33px"});

    }, function(){
        $(this).css({"color": "#ffffff"});
        $(".en-CA").css({"color": "#ab004f"});
        $(".toggle__container span").css({"left": "0"});

    });
    
}
if ($(".fr-CA").hasClass('current')) {
     $(".en-CA").on("click",function(){
        $(this).css({"color": "#ab004f"});
        $(".fr-CA").css({"color": "#ffffff"});
        $(".toggle__container span").css({"left": "0"});

    });
    $(".toggle__container span").css({"left": "33px"});
    $(".en-CA").hover(function(){
        $(this).css({"color": "#ab004f"});
        $(".fr-CA").css({"color": "#ffffff"});
        $(".toggle__container span").css({"left": "0"});

    }, function(){
        $(this).css({"color": "#ffffff"});
        $(".fr-CA").css({"color": "#ab004f"});
        $(".toggle__container span").css({"left": "33px"});

    });
   
}

var didScroll;
var lastScrollTop = 0;
var delta = 5;
var navbarHeight = $('.navbar').outerHeight();

$(window).scroll(function(event){
    didScroll = true; 
    
});

setInterval(function() {
   if (didScroll) {
        hasScrolled();
        didScroll = false;
    }
}, 250);

function hasScrolled() {
    console.log('ran');
    var st = $(this).scrollTop();
    
    // Make sure they scroll more than delta
    if(Math.abs(lastScrollTop - st) <= delta)
        return;
    
    // If they scrolled down and are past the navbar, add class .nav-up.
    // This is necessary so you never see what is "behind" the navbar.
    if (st > lastScrollTop && st > navbarHeight){
        // Scroll Down
        $('.navbar').removeClass('nav-down').addClass('nav-up');
    } else {
        // Scroll Up
        if(st + $(window).height() < $(document).height()) {
            $('.navbar').removeClass('nav-up').addClass('nav-down');
        }
    }
    
    lastScrollTop = st;
}

});


</script>
<main class="cd-main-content">
    <!-- Render BreadCrumb -->
    <!-- <nav aria-label="breadcrumb">
                
        <ul id="ctl03_ItemsList_ul" class="level0 breadcrumb">
            
        <li id="ctl03_ItemsList_li_0" class="index-0 currentParent MediaID-2 breadcrumb-item">
            <a id="ctl03_ItemsList_Link_0" href="https://www.boosterjuice.com/">Booster Juice</a>
            
        </li>
    
        <li id="ctl03_ItemsList_li_1" class="index-1 currentParent MediaID-11176 breadcrumb-item">
            <a id="ctl03_ItemsList_Link_1" href="https://www.boosterjuice.com/menu/smoothies/">Menu</a>
            
        </li>
    
        <li id="ctl03_ItemsList_li_2" class="index-2 currentParent MediaID-11181 breadcrumb-item">
            <a id="ctl03_ItemsList_Link_2" href="https://www.boosterjuice.com/menu/smoothies/">Smoothies</a>
            
        </li>
    
        <li id="ctl03_ItemsList_li_3" class="index-3 current MediaID-11186 breadcrumb-item">
            <a id="ctl03_ItemsList_Link_3" href="javascript:void(0);">Bananas A Whey</a>
            
        </li>
    
        </ul>
        
        </nav>-->
    
    <!-- PageContent -->
    <div id="PageContent" data-mediadetailid="31923" data-mediaid="11186">

<script>
function myFunction() {
	alert('Item was added to cart!');
}
</script>


<div id="app">
	<div>
		<section class="product__details__page">
			<div class="container">
				<div class="product__details">
					<div class="product__details__img">
						<div class="img-container">
							<img src="images/smoothie-BanangoBurst.png" alt="Banango Burst">
							<button onClick="myFunction()" class="btn">Add to Cart</button>"
						</div>
					</div>
					<div class="product__details__info">
						<div class="product__details__heading">
							<h1><div class="field" data-fieldid="38609" data-mediaid="" data-fieldcode="SectionTitle" data-arguments="{}">Banango Burst</div></h1>
							<div class="field" data-fieldid="38611" data-mediaid="" data-fieldcode="MainContent" data-arguments="{}"><p class="sm-desc">Bursting with flavour, this smoothie will make you Banango wild for the tropical taste of bananas and mangos. Made with bananas, mangos, passion fruit, guava and whey protein.</p></div>
						</div>

						<div class="toggle__container" v-if="SnackSizeUserCode">
							<label class="toggle" id="toggle-10">
								<input type="checkbox" class="checkbox" v-model="ShowSnackSizeNutrients" v-on:change="toggleSnackSizeNutrients">
								<div class="knobs">
									<span>REGULAR</span>
								</div>
							</label>
						</div>

						<div class="toggle__container__shot" v-if="DoubleSizeUserCode">
							<label class="toggle__shot" id="toggle-10__shot">
								<input type="checkbox" class="checkbox__shot" v-model="ShowDoubleSizeNutrients" v-on:change="toggleDoubleSizeNutrients">
								<div class="knobs__shot">
									<span>SINGLE</span>
								</div>
							</label>
						</div>

						<div class="nutritional__info">
							<h3>Nutritional Information</h3>
							<p v-if="Nutrients && Nutrients.length > 0">Name from ESHA for the user code '<strong>{{UserCode}}</strong>' : '<strong>{{Nutrients[0].FoodName}}</strong>' </p>
							<div class="nutritional__table__container">
								<!--<div class="nutritional__table">
									<div class="nutrient__row" v-for="Nutrient in Nutrients" v-if="Nutrient.DisplayValue != ''">
										<p class="type">{{Nutrient.NutrientDetails.Name["en-US"]}}</p>
										<p class="amount">
											<span v-if="ShowSnackSizeNutrients">{{Nutrient.DisplayValue / 2}}</span>
											<span v-if="ShowDoubleSizeNutrients">{{Nutrient.DisplayValue * 2}}</span>
											<span v-if="!ShowSnackSizeNutrients && !ShowDoubleSizeNutrients && Nutrient.DisplayValue">{{Nutrient.DisplayValue}}</span>
											<span v-if="!ShowSnackSizeNutrients && !ShowDoubleSizeNutrients && !Nutrient.DisplayValue && Nutrient.RawValue.Quantity.Value">{{Nutrient.RawValue.Quantity.Value}}</span>
											<span v-if="Nutrient.UnitDetails != null">{{Nutrient.UnitDetails.Abbreviation["en-US"]}}</span>
										</p>
									</div>
								</div>-->
							</div>
							<div class="nutritional__table">
								<div class="nutrient__row">
									<p class="type">Calories</p>
									<p class="amount">240 kcal</p>
								</div>
								<div class="nutrient__row">
									<p class="type">Carbohydrates</p>
									<p class="amount">54g</p>
								</div>
								<div class="nutrient__row">
									<p class="type">Sugar</p>
									<p class="amount">43g</p>
								</div>
								<div class="nutrient__row">
									<p class="type">Fibre</p>
									<p class="amount">3g</p>
								</div>
								<div class="nutrient__row">
									<p class="type">Protein</p>
									<p class="amount">7g</p>
								</div>
								<div class="nutrient__row">
									<p class="type">Saturated Fat</p>
									<p class="amount">0.5g</p>
								</div>
								<div class="nutrient__row">
									<p class="type">Cholesterol</p>
									<p class="amount">5mg</p>
								</div>
								<div class="nutrient__row">
									<p class="type">Sodium</p>
									<p class="amount">105mg</p>
								</div>
								<div class="nutrient__row">
									<p class="type">Vitamin C</p>
									<p class="amount">15%</p>
								</div>
							</div>
						</div>
						<div class="disclaimer">
							<div class="field" data-fieldid="51469" data-mediaid="" data-fieldcode="Disclaimer" data-arguments="{}"><p><em><strong>All smoothies are available dairy-free. For more information and other substitution options, please see us in-store. </strong></em></p></div>
						</div>
					</div>
				</div>

				<div class="scrollbar-inner product__details__boosters" v-if="true">
						<div class="boosters boosters__normal">
							<h4>Select a booster</h4>
							<ul>
									<li class="tooltip__button booster" data-toggle-class="booster" v-bind:class="{ added: AddedBoosters['Combo Booster'] }" v-on:click="updateNutrients('Combo Booster', '8915433', $event)">
										<div class="img-container">
											<img src="images/Combo%20Booster.png" alt="Combo Booster">
										</div>
										<p>Combo<br>Booster</p>
										<span class="tooltip__text tooltip--pink micro">A complex combo including flax seed and rosehip.</span>
									</li>
									<li class="tooltip__button booster" data-toggle-class="booster" v-bind:class="{ added: AddedBoosters['Density Booster'] }" v-on:click="updateNutrients('Density Booster', '8915434', $event)">
										<div class="img-container">
											<img src="images/Density.png" alt="Density Booster">
										</div>
										<p>Density<br>Booster</p>
										<span class="tooltip__text tooltip--pink micro">A natural source of calcium.</span>
									</li>
									<li class="tooltip__button booster" data-toggle-class="booster" v-bind:class="{ added: AddedBoosters['Energy Booster'] }" v-on:click="updateNutrients('Energy Booster', '8915434', $event)">
										<div class="img-container">
											<img src="images/Energy.png" alt="Energy Booster">
										</div>
										<p>Energy<br>Booster</p>
										<span class="tooltip__text tooltip--pink micro">Get the most out of your day with a boost of ginseng.</span>
									</li>
									<li class="tooltip__button booster" data-toggle-class="booster" v-bind:class="{ added: AddedBoosters['Power Booster'] }" v-on:click="updateNutrients('Power Booster', '8915438', $event)">
										<div class="img-container">
											<img src="images/Power.png" alt="Power Booster">
										</div>
										<p>Power<br>Booster</p>
										<span class="tooltip__text tooltip--pink micro">Specially designed with creatine to maximize your workout.</span>
									</li>
									<li class="tooltip__button booster" data-toggle-class="booster" v-bind:class="{ added: AddedBoosters['Warrior Booster'] }" v-on:click="updateNutrients('Warrior Booster', '8915439', $event)">
										<div class="img-container">
											<img src="images/Warrior.png" alt="Warrior Booster">
										</div>
										<p>Warrior<br>Booster</p>
										<span class="tooltip__text tooltip--pink micro">A powerful blend of echinacea, goldenseal and ginkgo biloba.</span>
									</li>
									<li class="tooltip__button booster" data-toggle-class="booster" v-bind:class="{ added: AddedBoosters['Wilderness Booster'] }" v-on:click="updateNutrients('Wilderness Booster', '8915440', $event)">
										<div class="img-container">
											<img src="images/Wilderness.png" alt="Wilderness Booster">
										</div>
										<p>Wilderness<br>Booster</p>
										<span class="tooltip__text tooltip--pink micro">Get wild with spirulina, barley grass, wheatgrass and alfalfa powder.</span>
									</li>
							</ul>
						</div>
						<div class="boosters boosters__super">
							<h4>Select a super booster</h4>
							<ul>
									<li class="tooltip__button booster" data-toggle-class="booster" v-bind:class="{ added: AddedBoosters['Whey Protein'] }" v-on:click="updateNutrients('Whey Protein', '8915446', $event)">
										<div class="img-container">
											<img src="images/Whey%20Protein.png" alt="Whey Protein">
										</div>
										<p>Whey<br>Protein</p>
										<span class="tooltip__text tooltip--purpledark micro">Dairy-based protein powder high in essential amino acids.</span>
									</li>
									<li class="tooltip__button booster" data-toggle-class="booster" v-bind:class="{ added: AddedBoosters['Chia Seeds'] }" v-on:click="updateNutrients('Chia Seeds', '8915442', $event)">
										<div class="img-container">
											<img src="images/Chia%20seed.png" alt="Chia Seeds">
										</div>
										<p>Chia<br>Seeds</p>
										<span class="tooltip__text tooltip--purpledark micro">Packed with omega 3, protein, antioxidants and fibre.</span>
									</li>
									<li class="tooltip__button booster" data-toggle-class="booster" v-bind:class="{ added: AddedBoosters['Hemp Hearts'] }" v-on:click="updateNutrients('Hemp Hearts', '8915444', $event)">
										<div class="img-container">
											<img src="images/Hemp.png" alt="Hemp Hearts">
										</div>
										<p>Hemp<br>Hearts</p>
										<span class="tooltip__text tooltip--purpledark micro">Packed with omega 3, omega 6, protein and fibre.</span>
									</li>
									<li class="tooltip__button booster" data-toggle-class="booster" v-bind:class="{ added: AddedBoosters['Soy Protein'] }" v-on:click="updateNutrients('Soy Protein', '8915445', $event)">
										<div class="img-container">
											<img src="images/Soy.png" alt="Soy Protein">
										</div>
										<p>Soy<br>Protein</p>
										<span class="tooltip__text tooltip--purpledark micro">Soy-based vegetarian protein powder.</span>
									</li>
							</ul>
						</div>
						<!-- <div class="boosters boosters__substitutions">
							<h4>Substitutions</h4>
							<ul>
										<li class="tooltip__button substitution" data-isAlreadyAdded="false" v-bind:class="{ added: AddedBoosters['Almond Milk'] }" v-on:click="updateNutrients('Almond Milk', '8915449', $event)">
											<div class="img-container">
												<img src="https://www.boosterjuice.com/media/uploads/images/booster-icons/Almond.png" alt="" />
											</div>
											<p>Almond<br>Milk</p>
											
										</li>
										<li class="tooltip__button substitution" data-isAlreadyAdded="false" v-bind:class="{ added: AddedBoosters['Skim Milk'] }" v-on:click="updateNutrients('Skim Milk', '8915448', $event)">
											<div class="img-container">
												<img src="https://www.boosterjuice.com/media/uploads/images/booster-icons/Skim.png" alt="" />
											</div>
											<p>Skim<br>Milk</p>
											
										</li>
										<li class="tooltip__button substitution" data-isAlreadyAdded="true" v-bind:class="{ added: AddedBoosters['Probiotic Yogurt'] }" v-on:click="updateNutrients('Probiotic Yogurt', '8915465', $event)">
											<div class="img-container">
												<img src="https://www.boosterjuice.com/media/uploads/images/booster-icons/Skim.png" alt="" />
											</div>
											<p>Probiotic<br>Yogurt</p>
											
										</li>
										<li class="tooltip__button substitution" data-isAlreadyAdded="false" v-bind:class="{ added: AddedBoosters['Frozen Yogurt'] }" v-on:click="updateNutrients('Frozen Yogurt', '8915464', $event)">
											<div class="img-container">
												<img src="https://www.boosterjuice.com/media/uploads/images/booster-icons/Skim.png" alt="" />
											</div>
											<p>Frozen<br>Yogurt</p>
											
										</li>

							</ul>
						</div> -->


					<!--<div class="boosters boosters__normal">
						<h4>Select a booster</h4>
						<ul>
							<li class="tooltip__button">
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Combo <br>Booster</p>
								<span class="tooltip__text micro">Not sure what goes here but we can fit this much!</span>
							</li>
							<li>
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Density <br>Booster</p>
							</li>
							<li>
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Power <br>Booster</p>
							</li>
							<li>
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Warrior <br>Booster</p>
							</li>
							<li>
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Wilderness <br>Booster</p>
							</li>
							<li>
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Energy <br>Booster</p>
							</li>
						</ul>
					</div>
					<div class="boosters boosters__super">
						<h4>Select a super booster</h4>
						<ul>
							<li>
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Whey <br>Protein</p>
							</li>
							<li>
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Chia <br>Seeds</p>
							</li>
							<li>
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Hemp <br>Hearts</p>
							</li>
							<li>
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Soy <br>Protein</p>
							</li>
						</ul>
					</div>
					<div class="boosters boosters__substitutions">
						<h4>Substitutions</h4>
						<ul>
							<li>
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Almond <br>Milk</p>
							</li>
							<li>
								<div class="img-container">
									<img src="\media\uploads\images\placeholders\booster-placeholder.png" alt="" />
								</div>
								<p>Skim <br>Milk</p>
							</li>
						</ul>
					</div>-->
				</div>
			</div>
			<div class="container-fluid gradient">
				<div class="container">
<div class="additional__products">
					<h5>You might also like</h5>
					<div class="products__grid">

								<a class="product" href="https://www.boosterjuice.com/menu/smoothies/banango-burst/">
									<div class="img-container">
										<img src="images/smoothie-BanangoBurst.png" alt="Banango Burst">
									</div>
									<div class="product__content">
										<h5>Banango Burst</h5>
										<p class="sm-desc">Bananas, mangos, passion fruit, guava, whey protein</p>
									</div>
								</a>
								<a class="product" href="https://www.boosterjuice.com/menu/smoothies/berry-cream-sensation/">
									<div class="img-container">
										<img src="images/smoothie-BerryCreamSensation.png" alt="Berry Cream Sensation">
									</div>
									<div class="product__content">
										<h5>Berry Cream Sensation</h5>
										<p class="sm-desc">Blueberries, strawberries, guava, passion fruit, vanilla frozen yogurt.</p>
									</div>
								</a>
								<a class="product" href="https://www.boosterjuice.com/menu/smoothies/brazilian-thunder/">
									<div class="img-container">
										<img src="images/smoothie-BrazilianThunder.png" alt="Brazilian Thunder">
									</div>
									<div class="product__content">
										<h5>Brazilian Thunder</h5>
										<p class="sm-desc">A&#231;ai, raspberries, bananas, strawberry, yogurt.</p>
									</div>
								</a>


						<!--<div class="product">
							<div class="img-container">
								<img src="\media\uploads\images\placeholders\smoothie-placeholder.png" alt="" />
							</div>
							<h5>Bananas-A-Whey</h5>
							<p class="sm-desc">Mangoes, strawberry, guava, passion fruit, peach, yogurt.</p>
						</div>
						<div class="product">
							<div class="img-container">
								<img src="\media\uploads\images\placeholders\smoothie-placeholder.png" alt="" />
							</div>
							<h5>Banango Burst</h5>
							<p class="sm-desc">Bananas, mangoes, passion fruit, guava, whey protein.</p>
						</div>
						<div class="product">
							<div class="img-container">
								<img src="\media\uploads\images\placeholders\smoothie-placeholder.png" alt="" />
							</div>
							<h5>Spinach Is In It</h5>
							<p class="sm-desc">Spinach, parsley, mangoes, acai.</p>
						</div>-->
					</div>
				</div>
				</div>
				
			</div>
			
		</section>

		<!--Enter UserCode:
		<input type="text" v-model="UserCode" />
		<input type="button" value="GetNutrients" v-on:click="getNutrients" />

		<div class="nutritional__info">
			<h3>Nutritional Information</h3>
			<div class="nutritional__table">
				<div class="nutrient__row" v-for="Nutrient in Nutrients" v-if="Nutrient.DisplayValue != ''">
					<p class="type">{{Nutrient.NutrientDetails.Name["en-US"]}}</p>
					<p class="amount">{{Nutrient.DisplayValue}} <span v-if="Nutrient.UnitDetails != null">{{Nutrient.UnitDetails.Abbreviation["en-US"]}}</span></p>
				</div>
			</div>
		</div>-->
	</div>
</div>

<script>
	var app = new Vue({
		el: "#app",
		data: {
			ImageData: "",
			UserCode: "8915010",
			SnackSizeUserCode: "",
			DoubleSizeUserCode: "",
			Nutrients: [],
			ShowSnackSizeNutrients: false,
			ShowDoubleSizeNutrients: false,
			AddedBoosters: {}
		},
		mounted: function () {
			$("[data-isAlreadyAdded='true']").each(function (index, elem) {
				$(elem).click();
				//$(elem).addClass("added");
			});
		},
		methods: {
			getImage: function (foodId) {

				var url = '/WebServices/Esha.asmx/LabelImageRequest';
				var segment = "GetLabelImageByFoodId";

				var request = '{"FoodId":"' + this.Item.Food.Id + '"}';
				//var request = '{"FoodId":"8980ff36-b138-08c8-5ef8-ee69ecb67fee"}';

				var body = { segment: segment, request: request };


				$.post(url, JSON.stringify(body), function (data) {
					this.ImageData = data.Image;
				});

				/*var headers = { 'Content-Type': 'application/json' };
				fetch(url, { method: "POST", body: JSON.stringify(body), headers: headers }).then(function(res) {
					res.json().then()
				})*/
			},
			toggleSnackSizeNutrients: function () {
				this.AddedBoosters = new Array();

				if (this.ShowSnackSizeNutrients) {
					this.getSnackSizeNutrients();
				}
				else {
					this.getRegularNutrients();
				}
			},
			toggleDoubleSizeNutrients: function () {
				this.AddedBoosters = new Array();

				if (this.ShowSnackSizeNutrients) {
					this.getDoubleSizeNutrients();
				}
				else {
					this.getRegularNutrients();
				}
			},
			updateNutrients: function (booster, userCode, event) {

				var boosterElem = $(event.currentTarget);
				var toggleClass = boosterElem.attr("data-toggle-class");

				var isAlreadyAdded = boosterElem.attr("data-isAlreadyAdded");

				$("." + toggleClass).each(function (index, elem) {

					if (elem == event.currentTarget)
						return;

					if ($(elem).hasClass("added")) {
						$(elem).click();
					}
				});

				boosterElem.addClass("added");

				if (userCode == '')
					return;

				this.getNutrients(userCode, function (boosterNutrients) {

					var removeBooster = false;

					var foundBooster = app.AddedBoosters[booster];

					if (foundBooster) {
						removeBooster = true;
						delete app.AddedBoosters[booster];
					}
					else {						
						app.AddedBoosters[booster] = new Array();

						$.each(boosterNutrients, function (index, item) {
							app.AddedBoosters[booster].push(item);
						});
					}

					$.each(app.Nutrients, function (index, nutrient) {
						var name = nutrient.NutrientDetails.Name["en-US"];
						var displayValue = parseFloat(nutrient.DisplayValue);

						$.each(boosterNutrients, function (index, boosterNutrient) {

							var boosterNutrientName = boosterNutrient.NutrientDetails.Name["en-US"];

							if (name == boosterNutrientName) {

								var boosterValue = 0;
								

								if (boosterNutrient.DisplayValue != null) {
									 boosterValue = Math.round(parseFloat(boosterNutrient.DisplayValue));
								}
								else {
									var tmpVal = boosterNutrient["RawValue"]["Quantity"]["Value"];

									boosterValue = Math.round(parseFloat(tmpVal));
								}

								if (!removeBooster) {
									if (isAlreadyAdded != "true") {
										nutrient.DisplayValue = eval(displayValue + boosterValue);
									}
								}
								else {
									nutrient.DisplayValue = eval(displayValue - boosterValue);

									boosterElem.attr("data-isAlreadyAdded", "false");
								}
							}
						});
					});
				});
			},
			/*updateNutrients: function (booster, nutrientsJson) {
				if (nutrientsJson == undefined)
					return;

				var removeBooster = false;

				var foundBooster = this.AddedBoosters[booster];

				if (foundBooster) {
					removeBooster = true;
					delete this.AddedBoosters[booster];
				}
				else {
					this.AddedBoosters[booster] = nutrientsJson;
				}

				$.each(this.Nutrients, function (index, nutrient) {
					var name = nutrient.NutrientDetails.Name["en-US"];
					var offset = nutrientsJson[name];

					if (offset != undefined) {
						offset = parseInt(offset);
						var displayValue = parseInt(nutrient.DisplayValue);

						if (!removeBooster) {
							nutrient.DisplayValue = eval(displayValue + offset);
						}
						else {
							nutrient.DisplayValue = eval(displayValue - offset);
						}
					}

				});

			},*/
			getRegularNutrients: function () {
				this.Nutrients = this.getNutrients(this.UserCode, function (data) {
					app.Nutrients = data;
				});
			},
			getSnackSizeNutrients: function () {
				this.Nutrients = this.getNutrients(this.SnackSizeUserCode, function (data) {
					app.Nutrients = data;
				});
			},
			getDoubleSizeNutrients: function () {
				this.Nutrients = this.getNutrients(this.DoubleSizeUserCode, function (data) {
					app.Nutrients = data;
				});
			},
			getNutrients: function (userCode, callBackMethod) {
				$('.nutritional__table__container').block({
					message: '<div class="spinner"></div>',
					css: {
						border: 'none',
						background: 'none'
					}
				});

				var url = '/WebServices/Esha.asmx/GetNutrientsByUserCode';
				var body = '{"userCode":"' + userCode + '"}';

				var headers = { 'Content-Type': 'application/json' };

				$.post(url, { userCode: userCode }, function (data) {
					callBackMethod(data);

					//this.Nutrients = data;

					$('.nutritional__table__container').unblock();
				});

				/*fetch(url, { method: "POST", body: body, headers: headers }).then(function(res) {
					res.json().then(function(data) {

						callBackMethod(data);

						//this.Nutrients = data;

						$('.nutritional__table').unblock();
					})
				})*/

			}
		}
	})

	app.getRegularNutrients();

	jQuery(document).ready(function () {
		jQuery('.scrollbar-inner').scrollbar({
			"autoScrollSize": true,
			"autoUpdate": true,
			"ignoreMobile": false,
			"disableBodyScroll": false
		});
	});
</script>
</div>

    <!-- Footer -->
    <footer>
	<div class="footer__nav">
		<!--<ul class="footer__nav__content">
		<li>
			<a href="#" class="nav__heading">Menu</a>
			<ul class="footer__subnav">
				<li><a href="#">Smoothies</a></li>
				<li><a href="#">Juices</a></li>
				<li><a href="#">Speciality Shots</a></li>
				<li><a href="#">Eats</a></li>
			</ul>
		</li>
		<li>
			<a href="#" class="nav__heading">Our Story</a>
		</li>
		<li>
			<a href="#" class="nav__heading">Programs</a>
			<ul class="footer__subnav">
				<li><a href="#">School Lunch Program</a></li>
				<li><a href="#">Fundraising</a></li>
			</ul>
		</li>
		<li>
			<a href="#" class="nav__heading">Gift Cards</a>
		</li>
		<li>
			<a href="#" class="nav__heading">Franchise Opportunities</a>
		</li>
	</ul>-->
		            
        <ul id="ctl04_ItemsList_ul" class="level0 footer__nav__content">
            
        <li id="ctl04_ItemsList_li_0" class="index-0 currentParent MediaID-11176 has-children">
            <a id="ctl04_ItemsList_Link_0" class="nav__heading" href="https://www.boosterjuice.com/menu/smoothies/">Menu</a>
            
                    <ul id="ctl04_ItemsList_ChildList_0_ul_0" class="level1 footer__subnav">
                        
                        
        <li id="ctl04_ItemsList_ChildList_0_li_0" class="index-0 currentParent MediaID-11181">
            <a id="ctl04_ItemsList_ChildList_0_Link_0" href="https://www.boosterjuice.com/menu/smoothies/">Smoothies</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_0_li_1" class="index-1 MediaID-11182">
            <a id="ctl04_ItemsList_ChildList_0_Link_1" href="https://www.boosterjuice.com/menu/juices/">Juices</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_0_li_2" class="index-2 MediaID-11184">
            <a id="ctl04_ItemsList_ChildList_0_Link_2" href="https://www.boosterjuice.com/menu/eats/">Eats</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_0_li_3" class="index-3 MediaID-11183">
            <a id="ctl04_ItemsList_ChildList_0_Link_3" href="https://www.boosterjuice.com/menu/specialty-shots/">Specialty Shots</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_0_li_4" class="index-4 MediaID-12747">
            <a id="ctl04_ItemsList_ChildList_0_Link_4" href="https://www.boosterjuice.com/menu/allergen/">Allergen</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl04_ItemsList_li_1" class="index-1 MediaID-12438 has-children">
            <a id="ctl04_ItemsList_Link_1" class="nav__heading" href="https://www.boosterjuice.com/our-story/about-booster-juice/">Our Story</a>
            
                    <ul id="ctl04_ItemsList_ChildList_1_ul_1" class="level1 footer__subnav">
                        
                        
        <li id="ctl04_ItemsList_ChildList_1_li_0" class="index-0 MediaID-11177">
            <a id="ctl04_ItemsList_ChildList_1_Link_0" href="https://www.boosterjuice.com/our-story/about-booster-juice/">About Booster Juice</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_1_li_1" class="index-1 MediaID-12439">
            <a id="ctl04_ItemsList_ChildList_1_Link_1" href="https://www.boosterjuice.com/our-story/community-partnerships/">Community Partnerships</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl04_ItemsList_li_2" class="index-2 MediaID-11178 has-children">
            <a id="ctl04_ItemsList_Link_2" class="nav__heading" href="https://www.boosterjuice.com/programs/school-catering-program/">Programs</a>
            
                    <ul id="ctl04_ItemsList_ChildList_2_ul_2" class="level1 footer__subnav">
                        
                        
        <li id="ctl04_ItemsList_ChildList_2_li_0" class="index-0 MediaID-11230">
            <a id="ctl04_ItemsList_ChildList_2_Link_0" href="https://www.boosterjuice.com/programs/school-catering-program/">School Catering Program</a>
            
        </li>
    
        <li id="ctl04_ItemsList_ChildList_2_li_1" class="index-1 MediaID-11231">
            <a id="ctl04_ItemsList_ChildList_2_Link_1" href="https://www.boosterjuice.com/programs/fundraising/">Fundraising</a>
            
        </li>
    
                    </ul>
                
        </li>
    
        <li id="ctl04_ItemsList_li_3" class="index-3 MediaID-11179">
            <a id="ctl04_ItemsList_Link_3" class="nav__heading" href="https://www.boosterjuice.com/gift-cards/">Gift Cards</a>
            
        </li>
    
        <li id="ctl04_ItemsList_li_4" class="index-4 MediaID-11180">
            <a id="ctl04_ItemsList_Link_4" class="nav__heading" href="https://www.boosterjuice.com/franchise-opportunities/">Franchise Opportunities</a>
            
        </li>
    
        </ul>
    


<script>

$(document).ready(function(){
    //console.log($(".navbar-nav .has-children > a"))
    $(".navbar-nav .has-children > a").attr("data-toggle", "dropdown");
});

//     $(document).ready(function(){
        
//         if($(window).width() <= 768)
//         {
//             $("#MainNav .has-children").each(function(){
//                 var parentAnchor = $(this).find(">a");
//                 var cloneParentAnchor = parentAnchor.clone();
                
//                 parentAnchor.attr("href","#");
                
//                 var firstChildLi = $(this).find("ul li").first().clone();
                
//                 firstChildLi.find("a").attr("href", cloneParentAnchor.attr("href"));
//                 firstChildLi.find("a").text(cloneParentAnchor.text());
                
//                 $(this).find("ul").prepend(firstChildLi);
//             });
//         }
//     });
</script>

        <div class="footer__copyright">
			<ul>
<li><a href="https://www.boosterjuice.com/corporate-contact/">Corporate Contact</a></li>
<li><a href="https://www.boosterjuice.com/faq/">FAQ's</a></li>
<li><a href="https://www.boosterjuice.com/privacy-policy/">Privacy Policy</a></li>
<li><a href="https://www.boosterjuice.com/non-participating-stores/">Non-Participating Stores</a></li>
</ul>
<p class="micro">&copy; 2018 Booster Juice Inc. All Rights Reserved.</p>            
        </div>
    </div>
    <div class="footer__connect">
		<div class="connect__socials">
			<div class="field" data-fieldid="38990" data-mediaid="" data-fieldcode="ConnectWithUs" data-arguments="{}"><h2>Connect with us</h2></div>
			<ul>
				<li><a href="https://www.instagram.com/boosterjuice/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/boosterjuice" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://www.facebook.com/boosterjuice/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<div class="connect__newsletter">
			<div class="field" data-fieldid="38991" data-mediaid="" data-fieldcode="Subscribe" data-arguments="{}"><h4>Subscribe to Booster Nation</h4>
<p>Sign-up for our newsletter to stay in the know about new products, promotions, and more!</p>
<p><a href="/subscribe/" class="button button--pink">Subscribe</a></p></div>
		</div>
    </div>
</footer>
    </main>
	
</body>

</html>