.container .btn {
    position: relative;
    top: 9px;
    left: 48%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f7e340;
    color: rgba(0,0,0,0.8);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 12px 100px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
  
  }
  
  .container .btn:hover {
    background-color: rgba(55, 26, 80, 0.5);
    color: rgba(255,255,255,0.9);
  
  }
  
  .container .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .container .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .container .btn:hover span {
    padding-right: 25px;
  }
  
  .container .btn:hover span:after {
    opacity: 1;
    right: 0;
  }